/*
 * -------------------------------------------------
 *  Nextflow config file for custom genomes
 * -------------------------------------------------
 * These references have to be build manually due 
 * to ERCC spike-ins.
 * Can be used by any config that customizes the base
 * path using $params.genomes_base / --genomes_base
 */

 params {
  // GENCODE references (https://www.gencodegenes.org/)
  genomes {
    'mm10' {
      bowtie2     = "${params.genomes_base}/mm10/bowtie2/"
      fasta       = "${params.genomes_base}/mm10/GRCm39.fa"
      fasta_url   = "http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M27/GRCm39.primary_assembly.genome.fa.gz"
      gtf         = "${params.genomes_base}/mm10/GRCm39.gtf"
      gtf_url     = "http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M27/gencode.vM27.annotation.gtf.gz"
      hisat2      = "${params.genomes_base}/mm10/hisat2/"
      star        = "${params.genomes_base}/mm10/star/"
    }
    'mm9' {
      fasta       = "${params.genomes_base}/mm9/m1.fa"
      gtf         = "${params.genomes_base}/mm9/m1.gtf"
      bowtie2     = "${params.genomes_base}/mm9/Bowtie2Index/"
      star        = "${params.genomes_base}/mm9/STARIndex/"
    }
    'GRCh38' {
      fasta       = "${params.genomes_base}/mm10/GRCh38.fa"
      gtf         = "${params.genomes_base}/mm10/GRCh38.gtf"
      bowtie2     = "${params.genomes_base}/mm10/Bowtie2Index/"
      star        = "${params.genomes_base}/mm10/STARIndex/"
    }
  }
}