/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/fastqc/" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: "DOWNLOAD_FASTA|DOWNLOAD_GTF" {
        publishDir = [
            enabled: false
        ]
    }

    withName: "GUNZIP_FASTA" {
        publishDir = [
            enabled: false
        ]
    }

    withName: "GUNZIP_GTF" {
        publishDir = [
            path: { "${params.outdir}/references/${params.genome}/" },
            mode: params.publish_dir_mode,
        ]
    }
    
    withName: ERCC_CREATE {
        publishDir = [
            enabled: false
        ]
    }

    withName: CAT_FASTA {
        publishDir = [
            path: { "${params.outdir}/references/${params.genome}/" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: BOWTIE2_BUILD {
        publishDir = [
            path: { "${params.outdir}/references/${params.genome}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: STAR_GENOMEGENERATE {
        ext.args = "--sjdbOverhang ${params.read_length - 1}"
        cpus   = { check_max( 24    * task.attempt, 'cpus'    ) }
        memory = { check_max( 100.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 2.d  * task.attempt, 'time'    ) }
        publishDir = [
            path: { "${params.outdir}/references/${params.genome}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: PREPARE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/data" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTP_SPLIT {
        ext.args = "--split_by_lines 4000000"
        publishDir = [
            enabled: false
        ]
    }

    withName: EXTRACT_LABELS {
        publishDir = [
            enabled: false
        ]
    }

    withName: BOWTIE2_ALIGN {
        ext.args2 = "--output-fmt SAM"
        ext.prefix = { "${meta.filename}" }
        publishDir = [
            enabled: false
        ]
    }

    withName: QC_ALIGNED {
        publishDir = [
            enabled: false
        ]
    }

    withName: CUT_SAM {
        publishDir = [
            enabled: false
        ]
    }

    withName: MERGE_READS {
        ext.prefix = { "${meta.id}.sam" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: DEMULTIPLEX {
        ext.args = "20 1 20 1"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') | filename.equals('output_tmp') ? null : filename }
        ]
    }

    withName: QC_BATCH {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: QC_REPORT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/output/" },
            mode: params.publish_dir_mode,
            saveAs: { 
                filename -> filename.equals('versions.yml') ? null : 
                filename.contains('output') ? filename.minus('output/') :
                filename 
            }
        ]
    }

    withName: VELOCITY_CONVERT {
        publishDir = [
            enabled: false
        ]
    }

    withName: VELOCITY_WHITELIST {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/velocity/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VELOCITY_TRIM {
        ext.args = "-m 20 -A 'T{68}' --pair-filter=both"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/velocity/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VELOCITY_STARSOLO {
        ext.args = "--soloType CB_UMI_Simple --soloCBstart 1 --soloCBlen 11 --soloUMIstart 12 --soloUMIlen 8 --outSAMtype BAM SortedByCoordinate --soloFeatures Gene GeneFull SJ Velocyto"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/velocity/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MULTIQC {
        ext.when   = { !params.skip_qc }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
